.root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border-color: #ffffff;
    border-width: 3px;
    border-radius: 3px;
}

.navbar {
    background-color: rgb(56, 56, 56);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
}

.content {
    height: 80%;
    transform: translateY(50px);
    display: grid;
    align-content: flex-start;
    gap: 16px;
    padding: 16px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
}
@media screen and (min-width: 300px) {
    .content {
        grid-template-columns: 1fr ;
    }
}
@media screen and (min-width: 600px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 900px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1000px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Bold white letters with light blue links */
.cwd-bar {
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
}
:link {
    color: #00aaff;
}
:link:hover {
    color: #48c2ff;
}

.search-bar {
    background-color: #e7e7e7;
    border-color: #ffffff;
    border-width: 3px;
    border-radius: 3px;
    color: #2f2f2f;
    font-size: 14px;
    font-weight: bold;
}
.navigation-button {
    background-color: #e7e7e7;
    border-color: #ffffff;
    border-width: 3px;
    border-radius: 3px;
    color: #2f2f2f;
    font-size: 14px;
    font-weight: bold;
}
.navigation-button:hover {
    background-color: #2f2f2f;
    color: #ffffff;
}

/* Center of the screen with a strong outline */
.text-bubble {
    color: #2f2f2f;
    background-color: #e7e7e7;
    padding: 5px;
    border: 3px solid lightslategrey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 30%;
    border-radius: 10px;
    text-align: center;
}

.result-file, .result-folder {
    background-color: #e7e7e7;
    border-color: #ffffff;
    padding: 10px;
    border: darkgrey 3px solid;
    border-radius: 10px;
    color: #2f2f2f;
    width: 90%;
}
.thumbnail {
    width:  -webkit-fill-available;
    padding: 5px;
}
.result-file {
    background-color: #cde2e7;
}
/* A small number shown on the right of the file */
.result-size {
    color: #2f2f2f;
    font-size: 10px;
    font-weight: bold;
    float: right;
}